@media only screen and (min-width: 500px) {
  .img-box {
    flex: 0 0 400px;
  }

  .img-box-projects {
    flex: 0 0 300px;
  }
}

@media only screen and (min-width: 650px) {
  .menu {
    display: none;
  }

  .hidden-large-screens {
    display: none;
  }

  .hidden-small-screens {
    display: block;
  }

  nav {
    transform: translateY(50%);
    position: relative;
  }

  nav ul {
    display: flex;
    gap: 3rem;
    justify-content: space-evenly;
    /* align-items: center; */
    max-width: 1200px;
    margin: auto;
  }

  nav li {
    border-bottom: none;
  }

  nav a:hover::after {
    width: 50%;
  }

  h1,
  h2 {
    font-size: 2.5rem;
  }

  h3 {
    margin-top: 1.5rem;
  }

  /* ---------- Sections ---------- */

  .projects-container {
    margin: 15rem auto;
  }

  .img-box {
    flex: 0 0 30%;
  }

  .img-box-projects {
    flex: 0 0 25%;
  }

  .projects-section {
    margin-top: 5rem;
  }

  .intro,
  .project-info {
    flex: 0 0 60%;
  }

  .project-info {
    border-top: 1px solid white;
  }

  /* .socials-box,
  .contact-box {
    flex: 0 0 45%;
    margin-top: 0;
  } */

  /* ---------- Calls to Action ---------- */

  .cta {
    padding: 0.5rem 5rem;
    align-self: flex-end;
  }

  .cta-small {
    margin-bottom: 0.5rem;
  }

  .cta-two {
    align-self: flex-start;
  }

  .buttons .cta-reverse {
    align-self: flex-start;
  }

  .all-projects-container a {
    display: inline;
  }

  /* ---------- Projects page ---------- */

  .more-projects-card {
    flex: 0 0 42%;
  }
}

@media only screen and (min-width: 1200px) {
  .img-box {
    flex: 0 0 400px;
  }

  .img-box-projects {
    flex: 0 0 300px;
  }

  .intro,
  .project-info {
    flex: 0 0 700px;
  }

  .all-projects-container {
    max-width: 1000px;
  }

  /* ---------- Projects page ---------- */

  .more-projects-card {
    flex: 0 0 300px;
  }
}
