/* ---------- Variables ---------- */

:root {
  /* ---------- Fonts ---------- */
  --body: 300 1rem/1.5 "Aleo", serif;
  --navigation: 300 1.5rem "Aleo", serif;
  --h1: 1.8rem "Architects Daughter", cursive;
  --h2: 2rem "Architects Daughter", cursive;
  --h3: 700 1.5rem "Aleo", serif;
  --cta: 400 1.8rem "Aleo", serif;
  --cta-small: 1.2rem "Aleo", serif;

  /* ---------- Colours ---------- */
  --white: #fff;
  --dark-grey: #3e3e3e;
  --light-grey: #6c6c6c;
  --pink: #f0f;
  --blue: #00dbff;
  --green: #00ff04;
  --yellow: #f0d109;
  --pink-neon-strong: 0 0 0.2em #fff, 0 0 0.4em #f7f, 0 0 0.6em #f0f,
    0 0 0.8em #f0f, 0 0 1em #f0f;
  --pink-neon-light: 0 0 0.2em #f7f, 0 0 0.4em #f0f, 0 0 0.6em #f0f,
    0 0 0.8em #f0f, 0 0 1em #f0f;
  --blue-neon-strong: 0 0 0.2em #fff, 0 0 0.4em #89deff, 0 0 0.6em #00dbff,
    0 0 0.8em #00dbff, 0 0 1em #00dbff;
  --green-neon-strong: 0 0 0.2em #fff, 0 0 0.4em #bf7, 0 0 0.6em #00ff04,
    0 0 0.8em #00ff04, 0 0 1em #00ff04;
  --yellow-neon-strong: 0 0 0.2em #fff, 0 0 0.4em #ffe377, 0 0 0.6em #f0d109,
    0 0 0.8em #f0d109, 0 0 1em #f0d109;
}

/* ---------- Global styles ---------- */

body {
  margin: 0;
  background: var(--dark-grey);
  color: var(--white);
  font: var(--body);
  scroll-behavior: smooth;
}

.burger-menu {
  color: var(--white);
  background-color: transparent;
  border: none;
  font-size: 2rem;
  margin: 0.5rem auto;
  width: 100%;
  text-shadow: var(--pink-neon-strong);
}

.hidden-small-screens {
  display: none;
}

nav {
  font: var(--navigation);
  background-color: var(--dark-grey);
  position: absolute;
  width: 100%;
  transform: translateY(-150%);
  transition: transform 1s ease;
}

ul {
  list-style-type: none;
  text-align: center;
  padding-left: 0;
}

nav li {
  line-height: 3rem;
}

a {
  text-decoration: none;
  color: var(--white);
  position: relative;
  display: block;
}

nav a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  transform: translateX(-50%);
  transition: all 0.5s;
  background-color: var(--white);
  box-shadow: var(--pink-neon-light);
}

nav a:hover::after {
  height: 0.1rem;
  width: 10%;
}

nav a.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100%;
  height: 0.1rem;
  background-color: var(--white);
  box-shadow: var(--pink-neon-light);
}

img {
  width: 100%;
  border-radius: 50%;
}

h1 {
  font: var(--h1);
  margin-bottom: 0;
}

h2 {
  font: var(--h2);
  margin: 0 auto;
  text-align: center;
  padding-top: 1rem;
}

h3 {
  font: var(--h3);
  margin-top: 0;
  margin-bottom: 0;
}

/* ---------- Sections ---------- */

.hero-section,
.projects-container {
  min-height: 80vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin: 6rem auto;
}

.img-box,
.img-box-projects,
.project-info,
.socials-box,
.contact-box {
  flex: 0 0 90%;
}

.intro,
.project-info {
  display: flex;
  flex-direction: column;
  flex: 0 0 90%;
}

.projects-section {
  background-color: var(--light-grey);
  padding-bottom: 4rem;
}

.projects-container {
  min-height: auto;
}

.project-even {
  flex-direction: row-reverse;
}

.all-projects-container {
  margin: 6rem auto;
  max-width: 90%;
}

.all-projects-container p {
  margin-bottom: 3rem;
}

.all-projects-container a {
  display: block;
}

.contact-section {
  background-color: var(--light-grey);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 6rem;
}

.socials-box {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem 4rem;
  justify-content: center;
}

.socials-box h2 {
  flex: 0 0 100%;
}

.fa-github-square,
.fa-linkedin {
  font-size: 5rem;
  transition: 1s;
}

.font-effect-neon:hover {
  text-shadow: 0 0 0.2em #000, 0 0 0.4em #f7f, 0 0 0.6em #f0f, 0 0 0.8em #f0f,
    0 0 1em #f0f;
}

address {
  margin: 2rem auto;
  font-style: normal;
}

address a {
  display: block;
  text-align: center;
}

address i {
  font-size: 1.5rem;
  margin: 0.5rem;
}

.contact-box {
  margin-top: 4rem;
}

.copyright {
  color: var(--dark-grey);
  background-color: var(--white);
  font-weight: 700;
  line-height: 3rem;
  text-align: center;
}

/* ---------- Calls to Action ---------- */

.cta {
  font: var(--cta);
  text-align: center;
  transition: box-shadow 1s;
  margin-top: 2rem;
  box-shadow: var(--pink-neon-strong);
}

.cta:hover {
  box-shadow: none;
  border: 2px solid var(--pink);
}

.cta-small {
  font: var(--cta-small);
  padding: 0.2rem 2rem;
}

.cta-small:hover {
  box-shadow: none;
}

.cta-one {
  box-shadow: var(--blue-neon-strong);
}

.cta-one:hover {
  border: 2px solid var(--blue);
}

.cta-two {
  box-shadow: var(--yellow-neon-strong);
}

.cta-two:hover {
  border: 2px solid var(--yellow);
}

.cta-three {
  box-shadow: var(--green-neon-strong);
}

.cta-three:hover {
  border: 2px solid var(--green);
}
