@font-face {
	font-family: 'Inter-Light';
	src: url('/fonts/Inter-Light.ttf');
}

@font-face {
	font-family: 'Bitter-Light';
	src: url('/fonts/Bitter-Light.ttf');
}

@font-face {
	font-family: 'Bitter-Regular';
	src: url('/fonts/Bitter-Light.ttf');
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Inter-Regular', sans-serif;
	margin: 0 auto;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	gap: 5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Bitter-Light', sans-serif;
}

a {
	text-decoration: none;
	color: inherit;
}

p {
	font-size: 0.9rem;
}

ul {
	list-style: none;
	padding-left: 0;
}

/* Code for Firefox */
::-moz-selection {
	background: #e2efe7;
}

::selection {
	background: #e2efe7;
}
